<html>
<head>
	<script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
	<script src="{{ url_for('static', filename='script.js') }}"></script>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
	<body>
		<div class="special_container">
			{% for attribute in attributes %}
			<div>
				<div>{{ attribute }}</div>
				<div>
					<select>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3" selected>3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
					</select>
				</div>
			</div>
			{% endfor %}
		</div>
		{% for attribute in attributes %}
			<div class="perk_container">
				<div>{{ attribute }}</div>
				{% for perk in perks[attribute] %}
				<div class="perk">
					<div class="perk-name">{{ perk.name }}</div>
					<div class="perk-ranks">
						{% for rank in perk.ranks %}
							<div class="perk-rank-{{rank.rank_level}}">
								<div class="rank-required-level">
									{{ rank.required_level }}
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
				{% endfor %}
			</div>
		{% endfor %}
	</body>
</html>
