<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
	<body>
		<div class="special_container">
			{% for attribute in attributes %}
			<div>
				<div>{{ attribute }}</div>
				<div>
					<select>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3" selected>3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
					</select>
				</div>
			</div>
			{% endfor %}
		</div>
		{% for attribute in attributes %}
			<div class="perk_container">
				<div>{{ attribute }}</div>
				{% for perk in perks[attribute] %}
					<div class="perk">{{perk.attribute_level}} - {{ perk.name }}</div>
				{% endfor %}
			</div>
		{% endfor %}
	</body>
</html>
